.akshaya-das-logo {
    width: 75px;
    height: 75px;
    gap: 0px;
    margin-left: 40%;
}

.akshaya-das-logo-text {
    text-align: center;
    margin-bottom: 20px;

    color: white;
}
.akshaya-table-head{
background-color: #56905C !important;

}
.akshaya-table-border {
    color: white;
    border: 1px solid #56905C !important; 
    border-radius: 20px; 
    overflow: hidden; 
}

.akshaya-table-border th,
.akshaya-table-border td {
    border: 1px solid #56905C !important; 
    color: white;
}

.table thead th {
    background-color: #56905C;
    color: white;
}
.akshaya-btn-border {
    color: white;
    border: 1px solid #56905C !important; 
    border-radius: 20px; 
    overflow: hidden; 
    margin-right: 20px;
    background-color:#56905C;

width:120px;
padding: 5px;
margin-left: 80%;
margin-top: 7%;
padding-bottom: 10px;
}

.akshaya-add-staff-mainDiv{
    width:750px;
    padding-top: 20px;
    
    margin-left: 200px;
    }
    .akshaya-add-staff-mainText{
        font-size: 45px;
    
    margin-top: 50px;
    margin-left: 300px;
    gap: 0px;
    font-weight: bold;
    letter-spacing: 2px;
    
    }
    .akshaya-staff-mainText{
        font-family: Montserrat;
font-size: 24px;
font-weight: 600;
line-height: 29.26px;
letter-spacing: -0.01em;
text-align: center;

    }