.akshaya-signup-mainDiv{
    width:750px;
    padding-top: 20px;
    
    margin-left: 400px;
    }
    .akshaya-signup-mainText{
        font-size: 45px;
    
    margin-top: 50px;
    margin-left: 470px;
    gap: 0px;
    font-weight: bold;
    letter-spacing: 2px;
    
    }
    .akshaya-signup-loginText{
    
        color: #56905C;
        
        }
        .akshaya-signup-password-toggle-icon{
            position: absolute;
              top: 50%;
              right: 10px;
              transform: translateY(-50%);
              cursor: pointer;
          }
          .akshaya-signup-forgotpswd{
            color: #000000D9;
            text-decoration: none;
            font-weight: bold;
            font-size: 14px;
    
          }
          .akshaya-signup-link{
            text-align: right;
          }
          .akshaya-signup-button{
    background-color:#56905C;
    border-radius: 5px;
    border: none;
    width:140px;
    padding: 5px;
    margin-left: 40%;
    margin-top: 7%;
    padding-bottom: 10px;
          }