.adminLogin-mainDiv{
width:350px;
padding-top: 10px;

margin-left: 400px;
}
.adminLogin-mainText{
    font-size: 40px;

margin-top: 50px;
margin-left: 420px;
gap: 0px;
font-weight: bold;
letter-spacing: 2px;

}
.adminLogin-loginText{

    color: #56905C;
    
    }
    .admin-login-password-toggle-icon{
        position: absolute;
          top: 50%;
          right: 10px;
          transform: translateY(-50%);
          cursor: pointer;
      }
      .admin-login-forgotpswd{
        color: #000000D9;
        text-decoration: none;
        font-weight: bold;
        font-size: 14px;

      }
      .admin-login-link{
        text-align: right;
      }
      .admin-login-button{
background-color:#56905C;
border-radius: 5px;
border: none;
width:140px;
padding: 5px;
margin-left: 40%;
margin-top: 7%;
padding-bottom: 10px;
      }